In [13]:
# adalah operrator yang digunakan untuk melakukan operasi terhadap nilai True dan False
# operator and --> operasi AND
# oprator or --> operasi OR
# operator not --> operasi negasi

#contoh program operasi AND
def main():
    print('Operasi AND')
    print('True and True \t:', (True and True))
    print('True and False \t:', (True and False))
    print('False and True \t:', (False and True))
    print('False and True \t:', (True and False))

if __name__=='__main__':
          main()

Operasi AND
True and True 	: True
True and False 	: False
False and True 	: False
False and True 	: False

In [ ]:
Operator string

In [15]:
# string dapat disambungkan dengan string lain menggunakan operator (+)
# contoh
str1 = 'Politeknik'
str2 = 'Takumi'

#menjalankan string
str3 = str1 + str2
print(str3)

PoliteknikTakumi

In [17]:
# jika string akan digabungkan dengan nilai numerik tersebut perlu dikonversi ke tipe str
# contoh
bil1 =15
bil2 =7.25
print('bil1: '+ str(bil1))
print('bil2: '+ str(bil2))

bil1: 15
bil2: 7.25

In [19]:
# cara lain untuk menyambung nilai numerik dgn string adalah dgn membuat string terformst (formatted string)

# contoh


bil1 =15
bil2 =7.25

str1 = 'bil1:%d' % bil1
str2 = 'bil2: %.2f' % bil2

print(str1)
print(str2)

bil1:15
bil2: 7.25

In [21]:
# operator "in" untuk memeriksa apakah karakter atau substring tertentu ada di dalam string
# contoh
ghani = 'Politeknik Takumi'
if 'Takumi' in ghani :
    print("'Takumi'ada didalam string ghani")
else:
    print("'Takumi'tidak ada didalam string ghani")

'Takumi'ada didalam string ghani

In [25]:
# menerapkan operator"*"kedalam string untuk mengulang karakter
# contoh
karakter = '() '
teks = karakter * 3
print(teks)

print ((teks+'')*2)

() () ()
() () () () () ()

In [35]:
# Operator Bitwise Bertipe Bilangan Bulat (integer)
# Variable Pertama Akan Dikonversikan Menjadi Bentuk Biner (Basis 2)
# Bentuk Operator:
# 1) & "Bitwise AND"
# 2) | "Bitwise OR"
# 3) ^ "Bitwise XOR"
# 4) ~ "Bitwise NOT"
# 5) << "Bitwise Shift Left"
# 6) >> "Bitwise Shift Right"

# Contoh:
def main():
    x = 10
    y = 5

# Menampilkan Nilai X Dan Y
    print('x:\t' + str(x))
    print('y:\t' + str(y))

    print("\nBitwise AND")
    print("x & y\t:" + str(x & y))

    print("\nBitwise OR")
    print("x | y\t:" + str(x | y))

    print("\nBitwise XOR")
    print("x ^ y\t:" + str(x ^ y))

    print("\nBitwise NOT")
    print("~x\t:" + str(~x))
    print("~y\t:" + str(~y))

    print("\nBitwise Shift Left")
    print("x<<1\t:" + str(x<<1))
    print("x<<1\t:" + str(x<<1))

    print("\nBitwise Shift Right")
    print("x>>1\t:" + str(x>>1))
    print("x>>1\t:" + str(x>>1))

if __name__ == "__main__":
    main()

x:	10
y:	5

Bitwise AND
x & y	:0

Bitwise OR
x | y	:15

Bitwise XOR
x ^ y	:15

Bitwise NOT
~x	:-11
~y	:-6

Bitwise Shift Left
x<<1	:20
x<<1	:20

Bitwise Shift Right
x>>1	:5
x>>1	:5